@import 'constants/const-styles.scss';

.autocomplete {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  &__input {
    height: 40px;
    border: 2px solid $search-primary;
    border-radius: 5px 5px 0 0;
    outline: none;
    background: $primary;
    padding: 0 10px;
  }

  &__list {
    position: absolute;
    background-color: $primary;
    border: 2px solid $search-primary;
    border-top-width: 0;
    list-style: none;
    top: 40px;
    width: 100%;
    padding: 5px 10px;

    &:hover {
      background-color: $hover-link;
      cursor: pointer;
    }
  }

  &__error {
    color: $black;
    padding: 8px;
  }
}