@import 'constants/const-styles.scss';

.autocomplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  &__input {
    height: 40px;
    border: 2px solid $search-primary;
    border-radius: 5px 5px 0 0;
    outline: none;
    background: $primary;
  }

  &__list {
    background-color: $primary;
    border: 2px solid $search-primary;
    border-top-width: 0;
    list-style: none;
    width: 100%;

    &--active:hover {
      background-color: $hover-link;
      cursor: pointer;
      font-weight: 700;
    }
  }

  &__error {
    color: $black;
    padding: 8px;
  }
}