@import 'constants/const-styles.scss';

.navigation {
    position: absolute;
    background: $secondary;
    align-self: center;
    color: $primary;
    border: 2px solid $secondary;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0 5px;
    cursor: pointer;
    
    &__prev-btn {
        left: 0;
    }
    &__next-btn {
        right: 0;
    }

    &__pagination-btn {
        position: static;
        padding: 5px 5px;
        width: 30px;
        height: 30px;
    }
    
    &:disabled {
      background-color: $search-primary;
      border: 2px solid $search-primary;
      pointer-events: none;
    }
}