@import 'constants/const-styles.scss';
@import 'constants/media-queries.scss';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 70%;
    height: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    box-shadow: 0 0 10px $black;
  }

  &__navigation {
    width: 50%;
    align-self: flex-start;
    margin: 20px 0 0 215px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $lato;
    width: 35%;
  }

  &__name {
    font-weight: bold;
    margin-top: 10px;
  }

  &__email {
    margin: 5px 0;
  }

  &__photo {
    width: 50%;
  }

  &__change-photo {
    border-radius: 10%;
    margin-top: 35px;
    width: 10%;
    position: absolute;
    opacity: 0;

    &:hover {
      opacity: 1;
      transition: opacity 0.4s;
    }
  }

  &__content {
    width: 40%;
    font-family: $lato;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__achievements {
    margin-left: 20px;
  }

  .card {
    flex-direction: row;
    width: 100%;
    margin: 10px;
    align-self: center;
    justify-content: space-between;

    &__img {
      width: 120px;
      height: 120px;
    }

    &__description {
      flex-direction: column;
      height: 15vh;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__side-information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
    }

    &__purchase-date,
    &__order-quantity {
      font-size: 14px;
      font-family: $lato;
      padding: 0 10px;
      margin: 5px 0;
    }

    &__order-status {
      font-size: 14px;
      font-family: $lato;
    }
  }
}
