@import 'constants/const-styles.scss';

.footer {
    background-color: $wheat;
    border-top: 3px solid $black;
  
    &__copyright {
      margin: 0;
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: $black;
      text-align: center;
      padding-top: 22px;
    }
}