@import 'constants/const-styles.scss';

.footer {
    background-color: $secondary;
  
    &__copyright {
      margin: 0;
      font-family: $lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: $primary;
      text-align: center;
      padding: 11px 0 11px;
    }
}