$secondary: #00142F;
$primary: #ffffff;
$black: #000000;
$button: #3F3DC9;
$search-primary: #7BA7AB;
$hover-link: #1ba8a8;
$card-primary: #1ba8a8;
$disable-btn: #7190b9;
$red: #ff0000;
$gray: #7a7a7a;
$lato: Lato;

$desktop-width: 1024px;
$table-width-large: 768px;
$table-width-small: 600px;
$mobile-width-large: 500px;
$mobile-width-small: 370px;

