@import 'constants/const-styles.scss';

.about {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-size: 32px;
    font-family: $lato;
  }

  &__description {
    text-align: center;
    font-family: $lato;
    width: 50vw;
  }

  &__contact {
    font-size: 32px;
    font-family: $lato;
  }
}
