@import 'constants/const-styles';

.filter {
    background-color: $primary;
    box-shadow: 0 0 10px $black;
    width: 18%;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__select {
        margin: 10px 0;
        width: 30%;
    }

    &__select-item {
        width: 100%;
        font-size: 20px;
    }

    &__digital, &__disk {
        display: flex;
        flex-direction: row;
        width: 50%;
        font-family: $lato;
        justify-content: space-between;
    }

    &__price {
        display: flex;
        justify-content: center;
        margin: 10px 0;

        &-min, &-max {
            margin: 0 10px;
            width: 30%;
            height: 20px;
            border: 2px solid $search-primary;
            outline: none;
            background: $primary;
        }
    }

    &__btn {
        border: none;
        font-family: $lato;
        background: $search-primary;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        margin: 10px 20px;
    }


}