@import 'constants/const-styles.scss';
@import 'constants/media-queries.scss';

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__field {
    height: 40px;
    padding-left: 10px;
    border: 2px solid $search-primary;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: $primary;
  }

  &__btn {
    height: 40px;
    border: none;
    font-family: $lato;
    background: $search-primary;
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    cursor: pointer;
  }

  @include media-mobile-large {
    &__field {
      width: 150px;
      height: 30px;
    }

    &__btn {
      height: 30px;
    }
  }

  @include media-mobile-small {
    &__field {
      width: 120px;
    }
  }
}
