@import 'constants/const-styles.scss';
@import 'constants/media-queries.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary;

    .preview {
        display: flex;
        justify-content: center;
        height: 357px;
        width: 100%;
        margin: 10px 0;
  
        &__img {
          width: 100%;
        }
  
        &__container {
          position: absolute;
          display: flex;
          flex-direction: row;
          height: 357px;
          justify-self: flex-start;
          transition: opacity 0.4s;
          opacity: 0;
    
          &--active {
            opacity: 1;
          }
        }
  
        &__description {
          width: 100%;
          background-color: $secondary;
          color: $primary;
          font-family: $lato;
          text-align: center;
          opacity: 0.9;
          padding: 20px 20px;
        }

        &__navigation {
          background: $secondary;
          align-self: center;
          color: $primary;
          border: 2px solid $black;
          padding: 10px 15px;
          border-radius: 50%;
          height: 45px;
          width: 45px;
          margin: 0 5px;
          cursor: pointer;
    
          &:disabled {
            background-color: $search-primary;
            border: 2px solid $search-primary;
            pointer-events: none;
          }
        }
      }
  
      @include media-table-large {
        .preview {
          flex-direction: column;
          align-items: center;
          
          &__container {
            flex-direction: row;
            justify-content: center;
            width: 50%;
          }
        }
      }

      @include media-table-small {
        .preview {

          &__container {
            height: 45%;
          }
        }
      }

      @include media-mobile-large {
        .preview {
          
          &__container {
            height: 35%;
          }

          &__description {
            font-size: 14px;
          }
        }
      }

      @include media-mobile-small {
        .preview {

          &__container{
            height: 30%;
          }
        }
      }
}

.sort {
  overflow: hidden;
  align-self: center;

  &:hover &__menu {
    display: block;
  }

  &__btn {
    font-size: 24px;  
    border: none;
    outline: none;
    color: $black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: $lato;
    color: $black; 
  }

  &__menu {
    display: none;
    position: absolute;
    background-color: $primary;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $black;
    z-index: 1;
  }

  &__menu a {
    float: none;
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

    &:hover {
      background-color: #ddd;
    }
  }
}
