@import 'constants/const-styles.scss';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary;

    &__preview {
        width: 70%;
        height: 200px;
        margin-top: 20px;
    }

    &__games {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }
}